name: Request apple builds

on:
  create:
    branches:
      - client-v*

  push:
    branches:
      - main

    paths:
      - client/**
      - .github/workflows/client.yml
      - .github/workflows/client-apple.yml

jobs:
  create:
    name: Create Release

    runs-on: ubuntu-latest

    steps:
      - name: Decode the GitHub App Private Key
        id: decode
        run: |
          private_key=$(echo "${{ secrets.AHQAI_PRIVATE_KEY }}" | base64 -d | awk 'BEGIN {ORS="\\n"} {print}' | head -c -2) &> /dev/null
          echo "::add-mask::$private_key"
          echo "private-key=$private_key" >> "$GITHUB_OUTPUT"

      - name: Generate GitHub App Token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ steps.decode.outputs.private-key }}
          owner: ahqsoftorg
          repositories: ahqai,ahqai-apple
          permission-actions: write

      - name: Request apple build (Release)
        uses: actions/github-script@v7
        if: ${{ github.ref_name != 'main' }}
        with:
          github-token: ${{ steps.app-token.outputs.token }}
          script: |
            await octokit.rest.actions.createWorkflowDispatch({
              owner: "${{ github.repository_owner }}",
              repo: "ahqai-apple",
              workflow_id: 227072908,
              ref: "main",
              inputs: {
                release: "true", 
                ref: "${{ github.ref_name }}"
              }
            });

      - name: Request apple build (Debug)
        uses: actions/github-script@v7
        if: ${{ github.ref_name == 'main' }}
        with:
          github-token: ${{ steps.app-token.outputs.token }}
          script: |
            await octokit.rest.actions.createWorkflowDispatch({
              owner: "${{ github.repository_owner }}",
              repo: "ahqai-apple",
              workflow_id: 227072908,
              ref: "main",
              inputs: {
                release: "false",
                ref: "${{ github.ref_name }}"
              }
            });
